@use "../core" as core;
@use "../helpers" as helper;
@use "../component-helpers" as component;

.createcourse {
  position: relative;
}

.header {
  @extend %inner-header;
}

.form {
  @extend %form;
  &-input {
    &-text {
      @extend %form-input-text;
      width: 85%;
    }
    &-label {
      @extend %form-input-label;
    }
    &-clear {
      @extend %form-input-text;
      padding-left: 0px;
      padding-right: 0px;
      width: 10%;
      text-align: center;
    }
  }
  &-response {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 28.8px;
    justify-items: center;
  }
  &-submit {
    @extend %form-input-button;
    @extend %box-shadow;
    width: 100%;
    align-self: center;
  }
  &-holes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 28.8px;
    justify-items: center;
    padding: 16px 0px;
    border-top: 1px solid core.colorfunction(blue, base);
    border-bottom: 1px solid core.colorfunction(blue, base);
    &-question {
      grid-column: 1 / 3;
      // line-height: $h4-size;
      font-size: var(--step-3);
      font-weight: 700;
      text-align: center;
      &-italics {
        font-size: var(--step-3);
        font-style: italic;
        color: core.colorfunction(blue, base);
      }
    }
    &-radio {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 38.4px 1fr;
      align-items: center;
      font-size: var(--step-3);
    }
  }
}

.success {
  @extend %dialog-success;
  font-size: var(--step-3);
  &-button {
    @extend %form-input-button;
    margin-top: 16px;
    width: 100%;
  }
}

.exists {
  @extend %dialog-success;
  &-text {
    font-size: var(--step-3);
  }
  &-button {
    @extend %form-input-button;
    margin-top: 16px;
    width: 100%;
  }
}

input[type="radio"] {
  width: 28.8px;
  height: 28.8px;
}

input[type="text"]:focus {
  border: 1px solid core.colorfunction(green, dark25);
}

// for dialogs
@keyframes show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

// for backdrop
keyframes show-backdrop {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
