
    <!-- Twitter Meta -->
    <meta property="twitter:url" content="https://disckeeper.io" />
    <meta name="twitter:site" content="@robinhoover" />
    <meta property="twitter:title" content="DiscKeeper" />
    <meta property="twitter:description" content="Lightweight and Elegant Disc Golf Score Keeping" />
    <meta property="twitter:image" content="https://disckeeper.io/img/disckeeper-logo.png" />