    <!-- Facebook Meta -->
    <meta property="og:url" content="https://discscoring.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DiscScoring" />
    <meta property="og:image" content="https://discscoring.com/img/discscoring-logo.png" />
    <meta property="og:description" content="Lightweight and Elegant Disc Golf Score Keeping" />
    <meta property="og:site_name" content="DiscScoring" />
    <meta property="og:locale" content="en_US" />