---
  layout: layouts/base.njk
  title: DiscScoring - Saved Players
  permalink: "/listplayers.html"
---

<section class="item-primary">
  <p class="item-header">App Owner:</p>
  <p class="item-primary-name">Incoming Data....</p>
</section>

<section class="items"></section>

<!-- success dialog-->
<dialog class="success">
  <p class="success-text"></p>
  <button class="success-button">Got It!</button>
</dialog>
