---
  layout: layouts/base.njk
  title: DiscScoring - Round History
  permalink: "/roundhistory.html"
---

<a href="/statistics.html" class="stats">Check out cool graphs of your course statistics! ➤</a>

<choose-section class="choose"><p>Incoming Data...</p></choose-section>

<section class="rounds"></section>

<dialog class="round-modal">
  <section class="round-modal-header"></section>
  <button class="round-modal-close">Close</button>
  <section class="round-modal-holes"></section>
  {% include "components/scroll-button-modal.njk" %}
</dialog>

{% include "components/scroll-button.njk" %}